@import "theme";

.dots {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.dot {
  position: relative;
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  background: var(--palette-grey);
  border-radius: 0.625rem;
  margin: 0.25rem;
}

.dot::before {
  content: '';
  position: absolute;
  top: -0.125rem;
  right: -0.125rem;
  width: 0.875rem;
  height: 0.875rem;
  border: 0.0625rem solid var(--palette-grey);
  border-radius: 0.875rem;
}

.dot.selected {
  background: var(--palette-primary);
}

.dot.selected::before {
  border-color: var(--palette-primary);
}