@import "theme";

.header {
  background: var(--palette-primary);
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.title {
  font-size: var(--typography-lg);
  color: var(--palette-black);
}

.title:hover {
  text-decoration: none;
}