@import "theme";

.card {
  text-align: center;
}

@media (--breakpoint-md) {
  .list {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (--breakpoint-lg) {
  .list {
    grid-template-columns: repeat(6, 1fr);
  }
}