@import "theme";

.list {
  background: var(--palette-secondary);
  padding: 1rem;
  border: 0.125rem solid rgba(0, 0, 0, 0.1);
  margin: 0 0 1rem;
}

.words {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (--breakpoint-md) {
  .list {
    margin: 0;
  }
}